:root{
    --main-bg-white:#F7F7F7;
    --main-bg-orange: #ED7121;

}

.navbar {
    background-color: var(--main-bg-white);

}

#logo-outlet{
    width: 3.503rem;
    height: 3.75rem;
}

.nav-item a {
    font-weight: bolder;
    ;
}

.nav-item i{
    color: var(--main-bg-orange) 
}